/* *, *:before, *:after {
    box-sizing: inherit;
} */

a {
    color: royalblue;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: transparent;
}

ul {
    list-style: none;
}

.top-bar-03 {
    font-size: 14px;
    color: #696969;
}

.container {
    max-width: 1520px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}

.col-md-6 {
    max-width: 50%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.top-bar-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    min-height: 40px;
}

.top-bar-wrap > * {
    padding: 7px 15px;
}

.top-bar-right .top-bar-wrap {
    justify-content: flex-end;
}

.page-top-bar .top-bar-tag {
    display: inline-block;
    padding: 1px 12px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    background: #3751ee;
    color: #fff;
}

.switcher-language-wrapper .wpml-ls > ul {
    position: relative;
    padding: 0;
    margin: 0 ;
    list-style-type: none;
    height: 100%;
}


.switcher-language-wrapper .wpml-ls > ul > li {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.page-top-bar li {
    list-style-type: none;
    margin: 0;
}

.page-top-bar .switcher-language-wrapper .wpml-ls .wpml-ls-item-toggle {
    padding: 0 10px 0 0;
}
/* 
.switcher-language-wrapper .wpml-ls .wpml-ls-item-toggle {
    position: relative;
    background: none !important;
    border: 0;
    line-height: 1;
    padding: 10px;
} */

.top-bar-03 a {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.78;
    color: #ababab;
}

.page-top-bar a {
    display: block;
}

/* .page-top-bar .switcher-language-wrapper .wpml-ls .wpml-ls-native {
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 5px;
} */

.switcher-language-wrapper .wpml-ls .wpml-ls-item-toggle:after {
    content: '\f078';
    font-size: 8px;
    border: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
}

/* submenu */
.switcher-language-wrapper .wpml-ls .wpml-ls-sub-menu {
    min-width: 200px;
    border: 0;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 20px 0;
    margin: 0;
    list-style-type: none;
    z-index: 102;
    box-shadow: 0 -3px 23px rgb(0 0 0 / 6%);
    transform: translateY(20px);
    background: #fff;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.switcher-language-wrapper .wpml-ls .wpml-ls-sub-menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.switcher-language-wrapper .wpml-ls .wpml-ls-sub-menu a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border: 0;
    background: #fff;
    font-size: 15px;
    font-weight: 400;
    color: #696969;
    line-height: 1;
    text-transform: uppercase;
}


.page-top-bar .switcher-language-wrapper .wpml-ls .wpml-ls-native {
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
}

.switcher-language-wrapper .wpml-ls .wpml-ls-native {
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 5px;
}

.top-bar-wrap > * + * {
    position: relative;
    padding-left: 15px;
}

.top-bar-wrap > * + *:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background: #dedfe2;
}

.top-bar-info .info-list {
    margin: 0;
}

.page-top-bar ul {
    z-index: 9999;
    list-style-type: none;
    padding: 0;
    line-height: 0;
    font-size: 0;
    margin: 0 0 5px;
}

.top-bar-info .info-item + .info-item {
    padding-left: 15px;
}

.top-bar-info .info-item + .info-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background: #dedfe2;
}

.top-bar-info .info-item {
    position: relative;
    padding-bottom: 3px;
    padding-top: 2px;
    display: inline-block;
    line-height: 1;
    margin-right: 15px;
}

.top-bar-info .info-item a {
    font-weight: 500;
    line-height: 1;
}

.top-bar-info .info-icon {
    font-size: 14px;
    margin-right: 5px;
    vertical-align: middle;
}

.fa, .fas {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.top-bar-info .info-text {
    vertical-align: middle;
}

.top-bar-info .info-item:last-child {
    margin-right: 0;
}

/* <------ header ------> */

#header {
    position: relative;
    z-index: 4;
    display: block;
}

#header .page-header-inner {
    background: #fff;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    border-color: #eee;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom-width: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 0 solid transparent;
}

.container:before {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.header .page-header-inner > .container > .row > .col-xs-12 {
    position: static;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
}

.header .header-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.header .branding {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    line-height: 0;
}

.branding__logo a {
    display: inline-block;
    float: left;
    color: #696969;
}

.branding__logo img {
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    display: block;
    width: 166px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border: 0;
}

.branding__logo::after {
    content: "";
    display: table;
    clear: both;
}

.nav {
display: flex;
}


.nav-link:hover {
    color: #4E97FD;
    background-color: #fff;
    border-color: #fff;
}

.nav-link {
    color: #9B9B9B;
    background-color: #fff;
    border-color: #fff;
}


.header-right {
    flex-shrink: 0;
    display: flex;
    margin: 0 -15px;
    align-items: center;
    justify-content: flex-end;
}

.header-right > div {
    padding: 0 15px;
}

.header-right-inner {
    display: flex;
    margin: 0 -14px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-search-form {
    max-width: 100%;
}

.header-right-inner > div {
    padding: 0 14px;
}

.header .header-search-form .search-form {
    width: 370px;
    position: relative;
    display: flex;
}

.screen-reader-text {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    clip-path: inset(50%);
    word-wrap: normal;
}

.search-field {
    color: #696969;
    border-color: #f5f5f5;
    background: #f5f5f5;
    min-height: 48px;
    padding-right: 50px;
}

input[type='search'] {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0em;
    width: 100%;
    outline: none;
    border: 1px solid #f8f8f8;
    border-radius: 26px;
    padding: 3px 20px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

input {
    margin: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
}

.header-search-form .search-submit  {
    color: #4E97FD;
}

.header-search-form .search-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 16px;
    width: 48px;
    height: 48px;
    line-height: 50px;
    padding: 0;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: none;
}

button {
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0em;
    text-transform: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: button;
    overflow: visible;
    font: inherit;
}



.far:before {
    content: "\f002";
    font-family: 'Font Awesome 5 free';
    font-weight: inherit;
}

.header-search-form .search-btn-text {
    display: none;
}

.header-search-form .search-submit {
    color: #4E97FD;
    font-size: 16px;
    line-height: 50px;
}

.header-component  {
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.header-left .mini-cart, .header-center .mini-cart, .header-right .mini-cart {
    padding: 0;
}

.mini-cart {
    position: relative;
}

.header-icon {
    color: #333;
}

.mini-cart .mini-cart__button {
    display: block;
    padding: 0 14px;
}

.mini-cart .mini-cart-icon {
    position: relative;
    display: block;
    width: 22px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
}

.mini-cart .mini-cart-icon:after {
    position: absolute;
    bottom: -4px;
    right: -12px;
    padding: 0 4px;
    min-width: 20px;
    height: 20px;
    border-radius: 20px;
    color: #fff;
    background: #111;
    content: attr(data-count);
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    background-color: #4E97FD;
}

.mini-cart .widget_shopping_cart_content {
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    z-index: 99999;
    visibility: hidden;
    overflow: auto;
    padding: 30px 20px 27px;
    max-height: 80vh;
    width: 360px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 10px 30px rgb(0 0 0 / 12%);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.woocommerce-mini-cart__empty-message {
    text-align: center;
}

.woocommerce-mini-cart__empty-message .empty-basket {
    font-size: 70px;
    color: #4E97FD;
}

.fa-dolly-flatbed-empty:before {
    content: "\f476";
    font-family: 'Font Awesome 5 free';
    font-weight: inherit;
}

.woocommerce-mini-cart__empty-message .empty-message {
    font-size: 16px;
    font-style: italic;
}

p:last-child {
    margin-bottom: 0;
}

.woocommerce-mini-cart__empty-message .button {
    width: 100%;
    height: 48px;
    line-height: 46px;
}

.header-right-inner > .header-icon, .header-right-inner > div {
    padding: 0 14px;
}

.header .page-navigations {
    flex-grow: 1;
    margin-left: 25px;
}

.page-navigations a {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 29px;
    padding-bottom: 29px;
}




/*<----------- footer -----------> */

#footer-menu {
    padding: 60px 0 30px 0;
  
}

#footer-menu li {
    font-size: 14px;
}


#footer-menu .footer-links h4 {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: bold;
    color: #333;
    position: relative;
    padding-bottom: 12px;
}

#footer-menu .footer-links ul li:first-child {
    padding-top: 0;
}

#footer-menu .footer-links ul li {
    padding: 10px 0;
    align-items: center;
    color: #9B9B9B;
    font-size: 15px;
}


#footer-menu .footer-links ul a {
    color: #9B9B9B;
    font-size: 15px;
    display: inline-block;
    line-height: 1;
}

#footer-menu .footer-newsletter h4 {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: bold;
    color: #333;
    position: relative;
    padding-bottom: 12px;
}

#footer-menu .footer-newsletter p {
    color: #9B9B9B;
    font-size: 15px;
}

#footer-menu .footer-newsletter .input-group input {
    border-radius: 50px;
   
}

#footer-menu .footer-newsletter .input-group button {
    border-radius: 50px;
    position: absolute;
    top: -6px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0 35px 2px 35px;
    background-color: #4E97FD;
    color: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

#footer-menu .footer-newsletter .input-group {
    margin-top: 30px;
    background: #fff;
    position: relative;
    border-radius: 50px;
    text-align: left;
}

#footer-menu .footer-contact {
margin-bottom: 30px;
}

#footer-menu .footer-links {
    margin-bottom: 30px;
}




#footer-menu .logo-outer {
    text-align: left;
}

.logo-outer-inner {
    margin: 0px 0px 37px 0px;
}

#footer-menu img {
    width: 166px;
}

.call {
    font-weight: normal;
    line-height: 1.6em;
    color: #696969;

}

.call-gmail {
    font-weight: normal;
    line-height: 1.6em;
    color: #696969;
    margin: 0px 0px 20px 0px;
    
}

.contact-num {
    margin: 0px 0px 13px 0px;
    line-height: 1;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5em;
    color: #E4573D;
}

.social-icons ul {
    display: flex;
    align-items: flex-start;
    padding-left: 0px;
}

#footer-menu .social-icons li {
    margin-right: 20px;
    font-size: 20px;
}

#footer-menu .twitter {
    color: #26D0FE;
}

#footer-menu .facebook {
    color: #567FA9;
}

#footer-menu .skype {
    color: #13BAF7;
}

#footer-menu .youtube {
    color: #DA0E2B;
}

#footer-menu .instagram {
    color: #987545;
}

